# I know It's bad practice to commit .env to Git, but this file is included for convenience.
# Please copy this file to your local .env and fill in your own credentials.
# OAuth2 keys should be created by you; see documentation in /_doc for guidance.

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret

URL_GATEWAY=http://localhost:8080
HOME_PAGE=http://localhost:8080
